@import '../../shared/styles/reset';
@import '../../shared/styles/variables';

.story {
  width: 100%;
  height: 100%;
  display: block;
  background: url('../../shared/images/story-background.jpg') no-repeat;
  background-size: 66% auto;
  background-position: 124% 70%;
  overflow: hidden;

  .alpha-layer {
    display: block;
    position: absolute;
    width: 75%;
    height: 100%;
    left: -20%;
    border-right: 1em solid $white;
    background: $primary-colour;
    transform: skew(25deg);
  }

  .primary {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background: transparent;
    color: $primary-colour;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    overflow: hidden;
    font-family: 'Josefin Sans';
    padding: $spacing;

    &-area {
      background: transparent;
      margin-bottom: ($spacing * 2);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-header {
      text-transform: uppercase;
      font-size: 3em;
      margin-bottom: 0.25em;
      font-weight: normal;
      color: $secondary-colour;
      font-weight: normal;
      margin-top: 0;
    }

    &-description {
      color: $white;
    }
  }
}
