// @font-face {
//   font-family: 'josefinsans';
//   src: url('../../shared/fonts/josefinsans.ttf') format('ttf');
// }

// @font-face {
//   font-family: 'moontime';
//   font-style: normal;
//   src: url('../../shared/fonts/moontime-regular.ttf') format('ttf');
// }
// @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Dancing+Script:400,700');
@import '../styles/fonts';

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  font-size: 16px;
}
body,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

#root {
  width: 100%;
  height: 100%;
}
