@import '../../shared/styles/reset';
@import '../../shared/styles/variables';

.home {
  width: 100%;
  height: 100%;
  display: block;
  background: $secondary-colour;
  position: relative;

  .primary {
    width: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $white;
    color: $primary-colour;
    text-align: center;

    &-header {
      text-transform: uppercase;
      font-size: $font-size-large;
      margin-bottom: 0.25em;
      font-family: 'Josefin Sans';
      font-weight: normal;
    }

    .secondary-header {
      margin-top: 0;
      font-family: 'Dancing Script';
      font-weight: normal;
    }
  }

  .alpha-layer {
    display: block;
    position: absolute;
    width: 70%;
    height: 100%;
    left: 50%;
    border-left: 1em solid $white;
    background: $primary-colour;
    transform: skew(-25deg);
  }

  .beta-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../shared/images/bamboo-transparency.png') no-repeat;
    background-size: auto 100%;
  }
}
